.form__addNewTaskButton {
    background-color: teal;
    color: #fff;
    padding: 10px;
    margin: 15px;
    border: 1px solid rgb(75, 72, 72);
}

.doneToggleButton {
    background-color: rgb(30, 128, 30);
    color: #fff;
    border: 0px;
    width: 25px;
    height: 25px;
}

.removeButton {
    background-color: rgb(233, 41, 41);
    color: #fff;
    border: 0px;
    width: 25px;
    height: 25px;
}