.formContainer {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #DDD5D4;
}

.form__input {
    margin: 15px;
    margin-right: 0px;
    height: 40px;
}

.formContainer__header {
    padding: 15px;  
    margin: 0px;
}