html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    word-break: break-word;
}

.mainContainer {
    margin-left: 22%;
    margin-right: 22%;
}

.header {
    font-weight: 700;
    text-align: left;
}